<section class="middle">
    <div class="container">

        <!-- row -->
        <div class="row align-items-center">

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale
                            </div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="/shop/product"><img
                                    class="card-img-top" src="assets/img/product/15.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Girls Self Design
                                    Jumpsuit</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-danger text-white position-absolute ft-regular ab-left text-upper">Hot
                            </div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/16.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Girls Fit and Flare
                                    Dress</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-warning text-white position-absolute ft-regular ab-left text-upper">
                                -40%</div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/17.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Women Printed
                                    A-Line Dress</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale
                            </div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/18.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Girls Solid A-Line
                                    Dress</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-danger text-white position-absolute ft-regular ab-left text-upper">Hot
                            </div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/19.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Girls Floral Print
                                    Jumpsuit</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-warning text-white position-absolute ft-regular ab-left text-upper">
                                -45%</div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/20.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Boys Solid
                                    Sweatshirt</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-danger text-white position-absolute ft-regular ab-left text-upper">Hot
                            </div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/21.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Women Striped Shirt
                                    Dress</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-danger text-white position-absolute ft-regular ab-left text-upper">Hot
                            </div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/22.png" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Fancy Salwar
                                    Suits</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-warning text-white position-absolute ft-regular ab-left text-upper">
                                -60%</div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/14.jpg" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Half Fancy Lady
                                    Dress</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="product_grid row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                        <div class="shop_thumb position-relative">
                            <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale
                            </div>
                            <a class="card-img-top d-block overflow-hidden" routerLink="product"><img
                                    class="card-img-top" src="assets/img/product/13.jpg" alt="..."></a>
                            <div class="product-left-hover-overlay">
                                <ul class="left-over-buttons">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview"
                                            class="d-inline-flex circle align-items-center justify-content-center"><i
                                                class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i
                                                class="far fa-heart position-absolute"></i></a></li>
                                    <li><a href="javascript:void(0);"
                                            class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i
                                                class="fas fa-shopping-basket position-absolute"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                        <div class="text-left mfliud">

                            <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a routerLink="product">Albella Womens Yoax
                                    Dress</a></h5>
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(5 Reviews)</span>
                            </div>
                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
                            <div class="d-block mt-3 mb-4">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum are deleniti atque corrupti quos dolores</p>
                            </div>
                            <div class="position-relative text-left">
                                <a href="javascript:void(0);" class="btn stretched-link borders  snackbar-addcart">Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- row -->

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                <a href="#" class="btn stretched-link borders m-auto"><i class="lni lni-reload mr-2"></i>Load More</a>
            </div>
        </div>

    </div>
</section>