<div class="row no-gutters exlio_gutters">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <!-- row -->
        <div class="row no-gutters">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="single_cats">
                    <a href="#" class="cards card-overflow card-scale mid_height">
                        <div class="bg-image" style="background:url(assets/img/b-8.png)no-repeat;">
                        </div>
                        <div class="ct_body">
                            <div class="ct_body_caption left">
                                <h6 class="mb-1">Up to 30% Off</h6>
                                <h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Women Wear</h1>
                                <span>4232 Items</span>
                            </div>
                            <div class="ct_footer left">
                                <span class="stretched-link fs-md">Browse Items <i
                                        class="ti-arrow-circle-right"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="single_cats">
                    <a href="#" class="cards card-overflow card-scale mid_height">
                        <div class="bg-image" style="background:url(assets/img/b-3.png)no-repeat;">
                        </div>
                        <div class="ct_body">
                            <div class="ct_body_caption left">
                                <h6 class="mb-1">Up to 40% Off</h6>
                                <h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Kids Wear</h1>
                                <span>5615 Items</span>
                            </div>
                            <div class="ct_footer left">
                                <span class="stretched-link fs-md">Browse Items <i
                                        class="ti-arrow-circle-right"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="single_cats">
                    <a href="#" class="cards card-overflow card-scale mid_height">
                        <div class="bg-image" style="background:url(assets/img/c-8.png)no-repeat;">
                        </div>
                        <div class="ct_body">
                            <div class="ct_body_caption left">
                                <h6 class="mb-1">Up to 45% Off</h6>
                                <h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Kitchen Accessories</h1>
                                <span>3215 Items</span>
                            </div>
                            <div class="ct_footer left">
                                <span class="stretched-link fs-md">Browse Items <i
                                        class="ti-arrow-circle-right"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- /row -->

    </div>
</div>