<section class="p-0">
    <div class="container-fluid">
        <div class="row no-gutters exlio_gutters">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="single_cats">
                    <a href="#" class="cards card-overflow card-scale mid_height">
                        <div class="bg-image" style="background:url(assets/img/bt-1.png)no-repeat;" data-overlay="4">
                        </div>
                        <div class="ct_body">
                            <div class="ct_body_caption center text-center">
                                <h6 class="mb-1 text-light">New Collections</h6>
                                <h1 class="m-0 ft-bold lh-1 text-light fs-md text-upper">SHOP MEN'S</h1>
                            </div>
                            <div class="ct_footer center">
                                <span class="btn btn-white stretched-link fs-md">Browse Items <i
                                        class="ti-arrow-circle-right"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="single_cats">
                    <a href="#" class="cards card-overflow card-scale mid_height">
                        <div class="bg-image" style="background:url(assets/img/bt-2.png)no-repeat;" data-overlay="4">
                        </div>
                        <div class="ct_body">
                            <div class="ct_body_caption center text-center">
                                <h6 class="mb-1 text-light">New Collections</h6>
                                <h1 class="m-0 ft-bold lh-1 text-light fs-lg text-upper">SHOP WOMEN'S</h1>
                            </div>
                            <div class="ct_footer center">
                                <span class="btn btn-white stretched-link fs-md">Browse Items <i
                                        class="ti-arrow-circle-right"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <app-category-style></app-category-style>

    </div>
</section>