<div id="main-wrapper">
	<app-header></app-header>
	<router-outlet></router-outlet>
	<app-customer-features></app-customer-features>
	<app-footer></app-footer>

	<!-- Product View Modal -->
	<app-product-view-modal></app-product-view-modal>
	<!-- End Modal -->

	<!-- Log In Modal -->
	<app-login-modal></app-login-modal>
	<!-- End Modal -->

	<!-- Search -->
	<app-search></app-search>

	<!-- Wishlist -->
	<app-saved-products></app-saved-products>

	<!-- Cart -->
	<app-cart-side-nav></app-cart-side-nav>

	<app-top-scroll></app-top-scroll>
</div>