<section class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="deals_wrap text-center">
                    <h4 class="ft-medium">Get up to -40% Off</h4>
                    <h2 class="ft-bold">Only Summer Collections</h2>
                    <div id="countdown" class="mt-5">
                        <ul>
                            <li><span id="days" #days></span>days</li>
                            <li><span id="hours" #hours></span>Hours</li>
                            <li><span id="minutes" #minutes></span>Minutes</li>
                            <li><span id="seconds" #seconds></span>Seconds</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>